*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: white;
}
body{
    background-color: black !important;
}
a{
    color: white !important;
}

.background{
    background: url(assets/images/bg.jpg) rgba(0, 0, 0, 0.63);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 90vh;
}
.divider{
    background-color: rgb(46 44 44);
    height: 10px;
    width: 100%;
}
.hero{
    height: 80vh;
}
.email-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.email-input input{
    background-color: rgba(0, 0, 0, 0.514);
    border: 1px solid rgba(255, 255, 255, 0.507);
    padding: 8px 60px 8px 10px;
    border-radius: 3px;
}
.email-input input::placeholder{
    font-size: small;
}
.email-input button{
    background-color: red;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    padding: 8px 20px;

}
.vid-1{
    position: relative;
}
.vid-1 video{
    position: absolute;
    right: 78px;
    top: 50px;
    width: 470px;
    z-index: -1;
}
.vid-1 img{
    position: relative;
    width: 555px;
}
.vid-1 .video-2{
    height: 300px;
}

.accordion-button, .accordion-body{
    background: #2d2d2d !important;
    box-shadow: none !important;
}
.accordion-item{
    border: none !important;
    background-color: black !important;
}
.accordion-item button{
    color: white !important;
    margin-bottom: 10px !important;
    font-size: large !important;
    font-weight: bold !important;
    padding: 2rem 2rem;
}
.accordion-button::after {
    display: none !important;
}
.accordion-body{
    margin-bottom: 10px;
    padding: 30px 40px !important;
}  
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.footer-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

@media(max-width:992px){
    .section-1, .offline-section .container, .children-section .container{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footer-options{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .questions{
        text-align: center;
    }
}
@media(max-width:576px){
    .vid-1 video{
        width: 350px;
        right: 5px;
    }
    .vid-1 img{
        width: 380px;
    }
    .vid-1 .video-2{
        height: 190px;
    }
}
@media(max-width:400px){
    .vid-1 video{
        width: 220px;
        right: 5px;
        top: 38px;
    }
    .vid-1 img{
        width: 250px;
    }
    .vid-1 .video-2{
        height: 130px;
        top: 30px;
    }
    .navbar-brand img{
        width: 130px !important;
    }
    .eng-btn, .sign-in-btn{
        font-size: smaller !important;
    }
    .nav-btn{
        gap: 5px !important;
    }

}